	h1{
	text-align: center;
	}
		#top{
		font-size: 36px;
		}
		#middle{
		font-size: 24px;
		}
		#bottom{
		font-size: 12px;
		}
		.name{
		font-weight: bold;		
		}

		div {
		text-align: center;
		margin: 10px;
		padding: 10px;	
		border: 2px solid blue;
		
		}
		
		table {
		text-align: center;
		border: 2px solid black;
		border-collapse: collapse;
		
		
		}
		
		th,td {
         border: 1px solid black;		
		}
		th {
		background-color: lightgray;		
		}